* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(181, 178, 158);
}

.title {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
}

.description {
    text-align: center; 
}

.song-list {
    text-align: center;
    list-style: none;
    font-weight: bold;
}