@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  background-color: rgb(184, 192, 255);
  margin: 0;
  padding: 0;
}
